In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data = data.drop(["RowNumber", "CustomerId", "Surname"], axis=1)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
label_encoder_gender = LabelEncoder()
data["Gender"] = label_encoder_gender.fit_transform(data["Gender"])

In [7]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[["Geography"]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(["Geography"]))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
data = pd.concat([data.drop("Geography", axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [9]:
X=data.drop("EstimatedSalary", axis=1)
y=data["EstimatedSalary"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [12]:
with open("label_encoder_gender.pkl", "wb") as f:
    pickle.dump(label_encoder_gender, f)
with open("onehot_encoder_geo.pkl", "wb") as f:
    pickle.dump(onehot_encoder_geo, f)
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

## ANN Regression Problem Statement

In [13]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # When no activation function is applied, the default activation function is linear function
])


model.compile(optimizer='adam', loss='mean_absolute_error',metrics=['mae'])

model.summary()

c:\Users\Shardul\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_2"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_6 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_7 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_8 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

log_dir = 'regression_logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [22]:
early_stopping = EarlyStopping(monitor='val_loss', patience =10, restore_best_weights=True)

In [23]:
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100377.3906 - mae: 100377.3906 - val_loss: 98515.0547 - val_mae: 98515.0547
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 99620.6875 - mae: 99620.6875 - val_loss: 96982.5547 - val_mae: 96982.5547
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 96953.5078 - mae: 96953.5078 - val_loss: 93060.6797 - val_mae: 93060.6797
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 91720.0391 - mae: 91720.0391 - val_loss: 86539.1172 - val_mae: 86539.1172
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 84064.0703 - mae: 84064.0703 - val_loss: 78063.6641 - val_mae: 78063.6641
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 75000.6172 - mae: 75000.6172 - val_loss: 69178.1484 - val_mae: 69178.1484
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 66191.2656 - mae: 66191.2656 - val_loss: 61477.2773 - val_mae: 61477.2773
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 59100.0547 - mae: 59100.0547 - val_loss: 55986.5781 - val_mae: 55986.5781
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 54556.3594 - mae: 54556.3594 - val_loss: 52723.8555 - val_mae: 52723.8555
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 52057.6133 - mae: 52057.6133 - val_loss: 51228.4219 - val_mae: 51228.4219
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50933.4844 - mae: 50933.4844 - val_loss: 50742.4648 - val_mae: 50742.4648
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50468.8516 - mae: 50468.8516 - val_loss: 50538.1992 - val_mae: 50538.1992
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50267.0195 - mae: 50267.0195 - val_loss: 50463.3008 - val_mae: 50463.3008
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50170.3125 - mae: 50170.3125 - val_loss: 50432.0312 - val_mae: 50432.0312
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50106.4141 - mae: 50106.4141 - val_loss: 50386.1406 - val_mae: 50386.1406
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50061.1406 - mae: 50061.1406 - val_loss: 50349.7617 - val_mae: 50349.7617
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50023.1719 - mae: 50023.1719 - val_loss: 50319.8086 - val_mae: 50319.8086
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49990.1875 - mae: 49990.1875 - val_loss: 50295.1836 - val_mae: 50295.1836
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49959.6094 - mae: 49959.6094 - val_loss: 50275.6133 - val_mae: 50275.6133
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49932.1602 - mae: 49932.1602 - val_loss: 50255.1094 - val_mae: 50255.1094
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49906.6562 - mae: 49906.6562 - val_loss: 50233.8867 - val_mae: 50233.8867
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49886.3867 - mae: 49886.3867 - val_loss: 50223.0391 - val_mae: 50223.0391
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49863.8047 - mae: 49863.8047 - val_loss: 50209.9102 - val_mae: 50209.9102
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49843.4844 - mae: 49843.4844 - val_loss: 50204.6406 - val_mae: 50204.6406
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49828.5312 - mae: 49828.5312 - val_loss: 50192.0898 - val_mae: 50192.0898
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49805.6953 - mae: 49805.6953 - val_loss: 50174.0156 - val_mae: 50174.0156
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49794.8516 - mae: 49794.8516 - val_loss: 50171.3555 - val_mae: 50171.3555
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49774.6328 - mae: 49774.6328 - val_loss: 50170.6172 - val_mae: 50170.6172
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49765.9258 - mae: 49765.9258 - val_loss: 50169.0273 - val_mae: 50169.0273
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49745.3008 - mae: 49745.3008 - val_loss: 50161.2188 - val_mae: 50161.2188
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49730.9258 - mae: 49730.9258 - val_loss: 50157.4688 - val_mae: 50157.4688
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49716.3477 - mae: 49716.3477 - val_loss: 50156.3086 - val_mae: 50156.3086
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49702.4883 - mae: 49702.4883 - val_loss: 50153.2031 - val_mae: 50153.2031
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49691.6758 - mae: 49691.6758 - val_loss: 50151.3555 - val_mae: 50151.3555
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49677.6562 - mae: 49677.6562 - val_loss: 50145.3164 - val_mae: 50145.3164
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49665.4922 - mae: 49665.4922 - val_loss: 50141.4727 - val_mae: 50141.4727
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49657.0234 - mae: 49657.0234 - val_loss: 50138.4883 - val_mae: 50138.4883
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49642.5742 - mae: 49642.5742 - val_loss: 50135.9609 - val_mae: 50135.9609
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49631.2734 - mae: 49631.2734 - val_loss: 50133.8711 - val_mae: 50133.8711
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49620.3672 - mae: 49620.3672 - val_loss: 50139.5156 - val_mae: 50139.5156
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49612.1719 - mae: 49612.1719 - val_loss: 50136.1250 - val_mae: 50136.1250
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49599.5000 - mae: 49599.5000 - val_loss: 50148.0547 - val_mae: 50148.0547
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49591.3086 - mae: 49591.3086 - val_loss: 50129.2461 - val_mae: 50129.2461
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49581.6445 - mae: 49581.6445 - val_loss: 50134.5430 - val_mae: 50134.5430
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49573.3320 - mae: 49573.3320 - val_loss: 50138.4297 - val_mae: 50138.4297
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49563.5742 - mae: 49563.5742 - val_loss: 50137.7148 - val_mae: 50137.7148
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49551.6797 - mae: 49551.6797 - val_loss: 50139.2070 - val_mae: 50139.2070
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49546.5586 - mae: 49546.5586 - val_loss: 50145.4414 - val_mae: 50145.4414
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49538.4453 - mae: 49538.4453 - val_loss: 50148.8477 - val_mae: 50148.8477
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49530.2148 - mae: 49530.2148 - val_loss: 50145.6836 - val_mae: 50145.6836
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49520.5117 - mae: 49520.5117 - val_loss: 50146.7539 - val_mae: 50146.7539
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49512.5977 - mae: 49512.5977 - val_loss: 50155.5508 - val_mae: 50155.5508
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 49506.0312 - mae: 49506.0312 - val_loss: 50148.7930 - val_mae: 50148.7930

In [24]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir regression_logs/fit

Reusing TensorBoard on port 6006 (pid 9340), started 0:00:08 ago. (Use '!kill 9340' to kill it.)

In [30]:
## Evaluate the model

test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test MAE: {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 953us/step - loss: 50129.2461 - mae: 50129.2461
Test MAE: 50129.24609375

In [31]:
model.save("regression_model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.